@font-face {
font-family: 'Pokemon Solid Normal';
font-style: normal;
font-weight: normal;
src: local('Pokemon Solid Normal'), url('Pokemon_Solid.woff') format('woff');
}

h1 {
	font-family: 'Pokemon Solid Normal';
	font-weight: 200;
	color: rgba(250, 203, 0, 1);
	text-shadow:
		-4px -4px 0 rgb(61, 95, 159),  
		4px -4px 0 rgb(61, 95, 159),
		-4px 4px 0 rgb(61, 95, 159),
		4px 4px 0 rgb(61, 95, 159);	  
}

.card {
	background-color: rgba(255, 230, 121, 1);
	width: 24rem;
	color: rgba(81,7,131,1);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.smallCard {
	width: 14rem;
	color: rgba(81,7,131,1);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

@media only screen and (max-height: 780px) {
	.descriptionCard {
		background-color: rgba(255, 255, 255, 0.85);
		width: 65vw;
		height: 75vh;
		color: rgba(81,7,131,1);
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 0.8rem;
	}

	.smallCard {
		width: 10rem;
		color: rgba(81,7,131,1);
		font-family: Tahoma, Arial, Helvetica, sans-serif;
	}

	.descriptionCardTable tr {
		border-bottom: 1px grey;
		color: purple;
		height: 1.1rem;
	}
}

@media only screen and (min-height: 780px) {
	.descriptionCard {
		background-color: rgba(255, 255, 255, 0.85);
		width: 65vw;
		height: 75vh;
		color: rgba(81,7,131,1);
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 1rem;
	}

	.smallCard {
		width: 14rem;
		color: rgba(81,7,131,1);
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		padding: .5rem;
	}
	
	.descriptionCardTable tr {
		border-bottom: 1px grey;
		color: purple;
		height: 1.6rem;
	}
}

@media only screen and (max-height: 600px) {
	.smallCard img {
		display: none;
	}
	.descriptionCard {
		height: 100%;
	}
}

.descriptionCardTable {
	width: 44vw;
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
}

.descriptionCardTable tr td
{
	border-bottom: 1px  solid rgba(0, 0, 0, 0.35); 
}

.searchBox::placeholder {
	color: rgba(81,7,131,1);
}